@model CourseWorkDO.Models.DataMatrix
@{
    ViewBag.Title = "DataUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card m-5">
    <h3 class="card-header text-center">Введення задачі вручну</h3>
    <div class="card-body">
        <form class="p-a-1" action="/UserProblem/CreateMatrixes" method="post">
            <div class="form-group">
                <label for="Dimension"> Розмірність матриць: </label>
                <input class="form-control" name="Dimension" />
            </div>
            <div class="text-center">
                <button type="submit">Створити матриці для заповнення</button>
            </div>
        </form>     
     </div>
</div>
