@model CourseWorkDO.Models.DataMatrix
@{
    ViewBag.Title = "DataGenerated";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <div class="card m-5">
        <h3 class="card-header text-center">Генерація рандомної задачі</h3>
        <div class="card-body">
            <p><h6>Введіть розмірність з діапазону [2;20]</h6></p>
        </div>
        <div class="card-body">
            <form class="p-a-1" method="post">
                <div class="form-group">
                    <label for="Dimension"> Розмірність матриць: </label>
                    @Html.TextBoxFor(m => m.Dimension)
                </div>
                <div class="text-center">
                    <input type="submit" value="Згенерувати задачу" />
                </div>
            </form>
        </div>
    </div>
</body>

