@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Квадратична задача про призначення </h1>
    <p class="lead">Виконала: студентка групи ІС-71</p>
    <p class="lead">Дмитрук О.Ю.</p>
</div>

<div class="align-content-center" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-outline-info btn-lg">@Html.ActionLink("Згенерувати задачу", "DataGenerated", "GeneratedProblem")</button>
    <button type="button" class="btn btn-outline-info btn-lg">@Html.ActionLink("Ввести дані вручну", "DataSolution", "UserProblem")</button>
    <button type="button" class="btn btn-outline-info btn-lg">Переглянути ефективність</button>
</div>


