@{
    ViewBag.Title = "DataFile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="card m-5">
    <h3 class="card-header text-center">Розв`язати задачу з файлу</h3>
    <form method="post" enctype="multipart/form-data" asp-controller="FileProblem" asp-action="DataFile">
        <span>Оберіть файл:</span>
            <input type="file" name="postedFile" />
        <div class="text-center">
            <input type="submit" asp-route-myMethod="Greedy" value="Жадібний алгоритм" />
            <input type="submit" asp-route-myMethod="Steepest" value="Метод вектора спаду" />
         </div>
    </form>
</div> 

